<%-include ('header')-%>
    <div class="box" id="heading">
        <h1>About</h1>
        
    </div>
    <div class="box">
        <p>THis is my to do site
        </p>
    </div>

<%-include ('footer')-%>